<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1><%= t(".title") %></h1>
    </div>

    <div class="well">
      <%= form_for @user, html: {class: "form-horizontal"} do |form| %>
        <%= form.invisible_captcha :username %>

        <ul class="list-group" data-behavior="user-form-errors">
          <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger"><%= msg %></li>
            <% end %>
          <% end %>
        </ul>

        <%= render partial: "/users/form", locals: {form: form, user: @user} %>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-9">
            <%= form.button "Submit", class: "btn btn-success btn-sm", data: {disable_with: "#{fa_icon('spinner spin')} Submitting..."} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
